* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  width: 100%;
}

.main {
  width: 100%;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}

.nav .left {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.nav .left h2 {
  color: darkgrey;
  font-size: 35px;
}

.nav .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 100px;
  margin-top: 10px;
}

.nav .right i {
  color: black;
  font-size: 35px;
}

.header {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("header.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.header h2 {
  font-size: 65px;
  width: 80%;
}

.header .paragraph {
  margin: 30px 0;
  font-size: 24px;
  width: 70%;
  text-align: center;
}

.header .btns {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.header .btns a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 20px;
}

.header .btns .btn1 {
  background-color: #8e8358;
  border-radius: 2px solid #8e8358;
}

.header .btns .btn2 {
  border: 2px solid white;
  transition: all 1s ease-in-out;
}

.header .btns .btn2:hover {
  background-color: white;
  color: black;
}

.header .icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header .icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header .icons .icon p {
  font-size: 25px;
  display: flex;
}

.header .icons .icon i {
  font-size: 50px;
  padding-bottom: 30px;
}

.sectionA {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionA .holder {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
}

.sectionA .holder .left {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionA .holder .left h2 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: black;
}

.sectionA .holder .left p {
  font-size: 20px;
  line-height: 1.5;
  margin: 10px;
  margin-right: 50px;
}

.sectionA .holder .left .btn1 {
  padding-top: 20px;
  padding: 15px 25px;
  margin-bottom: 20px;
  margin-right: 300px;
  text-decoration: none;
  background-color: #8e8358;
  color: white;
  border-radius: 40px;
  font-size: 20px;
}

.sectionA .holder .left .pics {
  width: 100%;
  padding: 10px;
}

.sectionA .holder .left .pics img {
  width: 160px;
  height: 160px;
}

.sectionA .holder .right {
  width: 45%;
  height: 100%;
  position: relative;
  margin-top: 40px;
}

.sectionA .holder .right img {
  width: 100%;
  height: 100%;
}

.sectionB {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e8358;
}
.sectionB .holder1 {
  width: 80%;
  height: 500px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.sectionB .holder1 .left {
  width: 45%;
  padding-top: 40px;
}

.sectionB .holder1 .left ul {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.sectionB .holder1 ul li {
  font-size: 19px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sectionB .holder1 ul li i {
  margin-right: 7px;
  color: lightgray;
}

.sectionB .holder1 .right {
  width: 45%;
  height: 100%;
  margin-top: 40px;
}

.sectionB .holder1 .right ul {
  margin-bottom: 50px;
  margin-top: 20px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionB .holder1 h2 {
  padding-bottom: 20px;
  font-size: 30px;
}

.sectionC {
  width: 100%;
  height: 850px;
}
.sectionC .holder {
  width: 100%;
  height: 560px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("back.jpg");
  background-position-y: -138px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sectionC h2 {
  color: white;
  font-size: 50px;
  margin-top: 10px;
}

.sectionC .cards {
  width: 87%;
  height: 500px;
  position: absolute;
  bottom: -250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.sectionC .cards .card {
  width: 23%;
  height: 500px;
  border: 1px solid #8e8358;
  background-color: white;
  padding-left: 24px;
}

.sectionC .cards .card .image {
  width: 90%;
  height: 40%;
  margin-top: 24px;
  margin-bottom: 20px;
}

.sectionC .cards .card .image img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.sectionC .card h3 {
  margin: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

.sectionC .card p {
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 2;
}

.sectionC a {
  color: #8e8358;
  padding-bottom: 3px;
  border-bottom: 1px solid #8e8358;
  text-decoration: none;
}

.sectionD {
  width: 100%;
  height: 1050px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionD .holder2 {
  width: 90%;
  height: 90%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.sectionD .holder2 .left,
.right {
  width: 45%;
  height: 50px;
  margin: 50px 50px;
}

.sectionD .holder2 h1 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.sectionD .holder2 .left p {
  padding-bottom: 20px;
}

.sectionD .holder2 p {
  font-size: 18px;
  margin: 20px;
  line-height: 2;
}

.sectionD .holder2 a {
  color: white;
  text-decoration: none;
  background-color: #8e8358;
  padding: 15px 30px;
  border-radius: 40px;
  font-size: 20px;
  margin: 40px;
}

.sectionD .holder2 .right h2 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.sectionD .holder2 .para {
  color: #8e8358;
}

.sectionE {
  width: 100%;
  height: 1000px;
  background-image: url("back2.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionE .holder3 {
  width: 85%;
  height: 550px;
  margin-top: 400px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
  background-color: white;
}

.sectionE .holder3 .card {
  width: 100%;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.sectionE .holder3 .card .left {
  width: 47%;
}

.sectionE .holder3 .card .left h1 {
  font-size: 50px;
  padding: 15px;
}

.sectionE .holder3 .card .left p {
  line-height: 2;
  font-size: 20px;
  margin-bottom: 50px;
}

.sectionE .holder3 .card .btn1 {
  color: white;
  text-decoration: none;
  background-color: #8e8358;
  padding: 15px 30px;
  border-radius: 40px;
  font-size: 20px;
  margin: 10px;
}

.sectionE .holder3 .card .right {
  width: 47%;
  height: 100%;
  padding-bottom: 90px;
}

.sectionE .holder3 .card .right img {
  width: 95%;
  height: 95%;
}

.sectionF {
  width: 100%;
  height: 1050px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.sectionF .holder4 {
  width: 90%;
  height: 700px;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}
.sectionF .holder4 .left {
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.sectionF .holder4 ul {
  font-size: 19px;
  list-style: none;
}
.sectionF .holder4 ul li {
  font-size: 23px;
  list-style: none;
  line-height: 2;
  display: flex;
  align-items: center;
}
.sectionF .holder4 ul li i {
  margin-right: 7px;
  color: #8e8358;
}

.sectionF .holder4 .left h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.sectionF .holder4 .left .pic1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionF .holder4 .left .pic1 img {
  width: 95%;
  height: 95%;
}
.sectionF .holder4 .right {
  width: 45%;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.sectionF .holder4 .right .pic2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.sectionF .holder4 .right .pic2 img {
  width: 95%;
  height: 95%;
}

.sectionF .holder4 .right .word {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.sectionF .holder4 .right .word1 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #8e8358;
}

.sectionF .holder4 .right .btn {
  width: 50%;
  padding-top: 30px;
}

.sectionF .holder4 .right .btn1 {
  color: white;
  text-decoration: none;
  background-color: #8e8358;
  padding: 15px;
  border-radius: 40px;
  font-size: 20px;
}
.end {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("gfgfggfggg-min.jpg");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.end .holder {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.end .holder .left {
  width: 45%;
  height: 100%;
}

.end .holder .right {
  width: 45%;
  height: 100%;
}

.end .holder .left h1 {
  color: white;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 200px;
}

.end .holder .left p {
  line-height: 2;
  font-size: 20px;
  margin-bottom: 100px;
}
.end .holder .left .btn1 {
  padding: 13px 25px;
  margin-bottom: 20px;
  margin-right: 300px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid white;
  font-size: 20px;
}
.end .holder .right .form {
  width: 70%;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.end .holder .right .form .top {
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  align-content: flex-start;
  justify-content: space-between;
}

.end .holder .right .form .top .one .email-input,
.name-input {
  padding: 15px 15px;
}

.end .holder .right .form .bottom {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-top: 15px;
}
.end .holder .right .form .bottom .address-input {
  padding: 15px;
}
.end .holder .right .form .bottom .msg {
  padding: 15px;
}
.end .holder .right .form .bottom .submit {
  color: white;
  background-color: #8e8358;
}

.footer {
  width: 100%;
  display: flex;
}

.footer .holder {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  background-color: #333333;
  font-size: 15px;
}
.footer .holder .top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.footer .holder .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer .holder .bottom a {
  color: rgb(82, 170, 183);
}
